$site-bg: #fcfcfc;
$link-color: #da5a47;

$zindex: (
  overlay   : 1,
  dropdown  : 2,
  floating  : 3,
  modal     : 4,
  header    : 5
);

body {
  font-family: sans-serif;
  background-color: $site-bg;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

header {
  z-index: map-get($zindex, header);
  position: fixed;
  width: 100%;
  padding: 15px 10px;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to bottom, rgba(#000,.25), rgba(#000,0));
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .site-title {
    font-weight: bold;
    position: relative;
    z-index: map-get($zindex, header);
  }
}

.post-content, .comments {
  max-width: 800px;
  padding: 40px 20px 0;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hero {
  position: relative;
  height: 300px;
  transition: all .65s $ease-out-quad;
  &:hover {
    background-color: rgba(#000,.5);
  }
}

.avatar {
  z-index: map-get($zindex, floating);
  width: 80px;
  border-radius: 50%;
  border: 2px solid $site-bg;
  box-shadow: 0 1px 3px rgba(#000,.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: map-get($zindex, modal);
  opacity: 0;
  visibility: hidden;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(#000,.7);
    z-index: -1;
  }
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(#000,.3);
  transform: translateX(-50%) translateY(-50%);
}

.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  > li {
    display: inline-block;
    margin: 0 1px;
    padding: 4px 12px;
    border-radius: 50px;
    font-size: .8em;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.footer {
  min-height: 200px;
  background: #323e4c;
}