$site-bg: #fcfcfc;
$link-color: #489bc6;

$zindex: (
  overlay   : 1,
  dropdown  : 2,
  floating  : 3,
  modal     : 4,
  header    : 5
);

body {
  font-family: sans-serif;
  background-color: $site-bg;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

.btn-default {
  color: #666;
  background-image: linear-gradient(to bottom, rgba(#fcfcfc,1), rgba(#f0f0f0,1));
  padding: 6px 14px;
  font-size: em(13);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(#000,.2);
}

header {
  @include clearfix;
  z-index: map-get($zindex, header);
  position: fixed;
  width: 100%;
  padding: 15px 10px;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to bottom, rgba(#000,.25), rgba(#000,0));
  }
  > a {
    color: #fff;
    text-decoration: none;
    float: left;
  }
  .site-title {
    font-weight: bold;
    position: relative;
  }
}

.nav {
  float: right;
  > li {
    display: inline;
    font-size: em(14);
    margin: 0 3px;
  }
}

.post-content, .comments {
  max-width: 800px;
  padding: 40px 20px 0;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hero {
  position: relative;
  height: 300px;
  transition: all .65s $ease-out-quad;
  &:hover {
    background-color: rgba(#000,.5);
  }
  .info {
    position: relative;
    color: #fff;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      font-weight: 100;
      font-size: em(42);
      margin: 0;
      transition: all .15s $ease-out-quad;
    }
    h3 {
      font-weight: 500;
    }
    .detail {
      font-family: georgia;
      font-size: em(14);
      font-style: italic;
      font-weight: 200;
    }
    p {
      font-size: em(15);
      opacity: .8;
      margin-top: 5px;
      max-width: 620px;
      width: 100%;
      margin: 0 auto;
    }
    .search {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      margin-top: 15px;
    }
  }
}

.search-form {
  position: relative;
  input[type="search"] {
    width: 99.5%;
    padding: 8px 12px;
  }
  input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 3px 3px 0;
    padding: 8px 15px;
  }
  input[type="search"],
  input[type="submit"] {
    height: 35px;

  }
}

.article-list {
  @include clearfix;
  margin-bottom: 50px;
  >li {
    @include span-columns(4);
    @include omega(3);
    margin-bottom: 20px;
    position: relative;
    top: 0;
    height: 350px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(#000,.15);
    border-radius: 4px;
    transition: all .15s $ease-out-quad;
    &:hover {
      top: -5px;
      box-shadow: 0 5px 15px rgba(#000,.15);
      .read-more {
        opacity: 1;
      }
    }
    &:active {
      top: -2px;
      transition: all 0 $ease-out-quad;
    }
  }
  .article-thumb {
    height: 125px;
    border-radius: 4px 4px 0 0;
    position: relative;
    margin-bottom: 10px;
  }
  .article-preview {
    padding: 15px;
    max-height: 170px;
    overflow: hidden;
    h1 {
      font-size: em(21);
      font-weight: 300;
      margin-bottom: 0;
    }
    em {
      font-size: em(12);
      color: #aaa;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  .preview-content {
    font-size: em(13);
  }
}

.post-author-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -25px;
  right: 10px;
  text-align: center;
  > li {
    display: inline-block;
    margin: 0 2px;
    position: relative;
    &:hover .author-name {
      opacity: 1;
      bottom: 110%;
    }
  }
  .avatar {
    width: 40px;
    border: 2px solid #fff;
  }
  .author-name {
    width: 100px;
    position: absolute;
    bottom: 90%;
    left: 50%;
    font-size: em(13);
    margin-left: -50px;
    padding: 5px 10px;
    background-color: rgba(#fff,.85);
    box-shadow: 0 2px 4px rgba(#000,.7);
    border-radius: 4px;
    border-top: 1px solid rgba(#fff,.75);
    text-align: center;
    opacity: 0;
    transition: all .25s $ease-out-quad;
    pointer-events: none;
  }
}

.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  > li {
    display: inline-block;
    margin: 0 1px;
    padding: 4px 12px;
    border-radius: 50px;
    font-size: .8em;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.view-search {
  .no-match {
    text-align: center;
  }
}

.view-tags {
  .hero {
    height: 300px;
  }
  .article-list {
    >li {
      @include span-columns(3);
      @include omega(4n);
    }
  }
  .post-content {
    max-width: 1200px;
    @include outer-container;
  }
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: map-get($zindex, modal);
  opacity: 0;
  visibility: hidden;
  transition: all .2s $ease-out-quad;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(#000,.7);
    z-index: -1;
    pointer-events: none;
  }
  &.is-visible {
    opacity: 1;
    visibility: visible;

    .modal-content {
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
  }
  > .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 0;
  }
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(#000,.3);
  z-index: map-get($zindex, floating);
  transform: translateX(-50%) translateY(-50%) scale(1.4);
  transition: all .2s $ease-in-out-back;
}

.section-head {
  @include clearfix;
  h2 {
    float: left;
  }
  a {
    float: right;
  }
}

.viewall {
  font-size: em(14);
  line-height: 1.8;
}

.avatar {
  z-index: map-get($zindex, floating);
  width: 80px;
  border-radius: 50%;
  border: 2px solid $site-bg;
  box-shadow: 0 1px 3px rgba(#000,.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

code {
  display: inline-block;
  background-image: linear-gradient(to bottom, #f6f6f7, #e9e9ef);
  padding: 3px 8px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  box-shadow: inset 0 1px 0 rgba(#fff,.75);
}

.pagination {
  font-size: em(14);
  text-align: center;
  > div {
    display: inline-block;
    margin: 0 10px;
  }
}

.mark-on, .mark-off {
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(#000,.5);
  border-radius: 4px;
}

.mark {
  &-on {
    background-color: #fafafa;
    color: $link-color;
  }
  &-off {
    background-color: $link-color;
    color: #fff;
  }
}

i[class*="icon"] {
  position: relative;
  top: 3px;
}

.read-more {
  position: absolute;
  z-index: map-get($zindex, floating);
  top: 50%;
  left: 50%;
  padding: 8px;
  width: 50%;
  color: #fff;
  transform: translateX(-50%) translateY(-50%);
  transition: all .15s $ease-out-quad;
  border-radius: 50px;
  border: 2px solid #fff;
  text-align: center;
  font-size: em(10);
  text-transform: uppercase;
  opacity: 0;
  background-color: rgba(#000,.15);
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.footer {
  min-height: 200px;
  background: #323e4c;
}

.hidden {
  opacity: 0;
}