input[type=file] {
  outline: none;
  padding: 20px 10px;
  opacity: 0;
}

.dropzone {
  font-size: em(13);
  border: 3px dotted #eed;
  border-radius: 4px;
  text-align: center;
  position: relative;
  &.selected {
    .file {
      opacity: 1;
    }
    h2 {
      opacity: 0;
    }
  }
  h2 {
    width: 100%;
    font-size: em(16);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.textarea {
  min-height: 200px;
}

.form {
  .half {
    @include span-columns(6);
  }

  .form-actions {
    @include clearfix;
    .cancel {
      float: left;
      line-height: 2.5;
    }
    .btn-form {
      float: right;
    }
  }
}