.view-profile {
  .hero {
    text-align: center;
    box-shadow: inset 0 -25px 50px rgba(#000, .3);
    .info {
      position: relative;
      color: #fff;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      h1 {
        font-weight: 100;
        font-size: em(42);
        margin: 0;
      }
      h3 {
        font-weight: 500;
      }
      .detail {
        font-family: georgia;
        font-size: em(14);
        font-style: italic;
        font-weight: 200;
      }
      em {
        font-size: em(9);
        font-weight: bold;
        opacity: .8;
        text-transform: uppercase;
        margin-top: 5px;
        font-style: normal;
      }
    }
  }
  .btn-default {
    display: inline-block;
    margin-top: 10px;
  }
  .avatar-wrap {
    background: $site-bg;
    height: 75px;
    position: relative;
    .avatar {
      position: absolute;
      left: 50%;
      margin-left: -40px;
      bottom: -40px;
      width: 80px;
      box-shadow: 0 2px 4px rgba(#000,.3);
      border: 4px solid $site-bg;
    }
  }
  .update-hero {
    input[type=file] {
      position: absolute;
      width: 100px;
      top: 100px;
      right: 20px;
    }
  }
}

.view-users {
  .article-list {
    >li {
      position: relative;
      margin-bottom: 25px;
      @include span-columns(3);
      @include omega(4n);
      &:hover {
          .article-thumb:after {
            background-color: rgba(#000,.75);
          }
          h1 {
            opacity: 0;
          }
      }
      .joindate {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: em(9);
        font-weight: bold;
        opacity: .8;
        text-transform: uppercase;
        margin-top: 5px;
        font-style: normal;
        opacity: .5;
      }
    }
  }
  .article-thumb {
    display: block;
    position: relative;
    height: 100px;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 4px 4px 0 0;
      z-index: 0;
      background-color: transparent;
      transition: all .15s $ease-out-quad;
    }
    .info {
      position: relative;
      color: #fff;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      h1 {
        font-weight: 200;
        font-size: em(24);
        margin: 0;
      }
      p {
        font-size: em(15);
        opacity: .8;
        margin-top: 5px;
        max-width: 620px;
        width: 100%;
        margin: 0 auto;
      }
      .detail {
        font-family: georgia;
        font-size: em(14);
        font-style: italic;
        font-weight: 200;
      }
      em {
        font-size: em(9);
        font-weight: bold;
        opacity: .8;
        text-transform: uppercase;
        margin-top: 5px;
        font-style: normal;
      }
    }
    .avatar {
      width: 50px;
      position: absolute;
      left: 50%;
      bottom: -25px;
      transform: translateX(-50%);
    }
  }
  .article-preview {
    text-align: center;
    h3 {
      font-weight: 500;
      margin-top: 10px;
      font-size: em(14);
    }
    h4 {
      font-size: em(13);
      margin: 0 0 10px;
      color: #aaa;
    }
    hr {
      margin: 8px 0;
    }
    .spacer {
      height: 33px;
    }
    .stats {
      text-align: left;
      > li {
        position: relative;
        padding-left: 15px;
        &:before {
          content: '•';
          color: $link-color;
          position: absolute;
          left: 0;
          top: -3px;
        }
      }
      a {
        color: $link-color;
      }
      h2 {
        font-weight: 500;
        font-size: em(14);
      }
    }
  }
  .post-content {
    max-width: 1200px;
  }
}