html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: sans-serif;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0; }

a {
  color: #da5a47;
  text-decoration: none; }

header {
  background-color: #000;
  padding: 15px 10px; }
  header a {
    color: #fff;
    text-decoration: none; }

.hero {
  position: relative;
  height: 450px;
  box-shadow: inset 0 -25px 50px rgba(0, 0, 0, 0.3); }
  .hero img {
    width: 100%; }
  .hero .title {
    position: relative;
    color: #fff;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .hero .title h1 {
      font-weight: 100;
      font-size: 2em;
      margin: 0; }

.parallax-mirror {
  background-color: #000; }
  .parallax-mirror img {
    opacity: .5; }

.post-wrap {
  background-color: #fcfcfc;
  padding-top: 50px; }

.timestamp {
  font-size: 0.75em; }

.post-author-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-align: center; }
  .post-author-list > li {
    display: inline-block;
    margin: 0 5px;
    position: relative; }
    .post-author-list > li:hover .author-name {
      opacity: 1;
      bottom: 110%; }
  .post-author-list img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid #fcfcfc; }
  .post-author-list .author-name {
    width: 100px;
    position: absolute;
    bottom: 90%;
    left: 50%;
    margin-left: -50px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.post-content, .comments {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 50px; }

.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 50px; }
  .tags > li {
    display: inline-block;
    margin: 0 1px;
    padding: 4px 12px;
    background: #fafafa;
    border-radius: 50px;
    font-size: .8em; }
    .tags > li a:hover {
      text-decoration: none; }
