@charset "UTF-8";
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover,
  button:focus, input[type="button"]:hover,
  input[type="button"]:focus, input[type="reset"]:hover,
  input[type="reset"]:focus, input[type="submit"]:hover,
  input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color;
          transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
          transition: color 0.1s linear; }
  a:active,
  a:focus,
  a:hover {
    color: #2c5999; }
  a:active,
  a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

body {
  font-family: sans-serif;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0; }

a {
  color: #489bc6;
  text-decoration: none; }

.btn-default {
  color: #666;
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
  background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
  padding: 6px 14px;
  font-size: 0.8125em;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

header {
  z-index: 5;
  position: fixed;
  width: 100%;
  padding: 15px 10px; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25), transparent);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent); }
  header > a {
    color: #fff;
    text-decoration: none;
    float: left; }
  header .site-title {
    font-weight: bold;
    position: relative; }

.nav {
  float: right; }
  .nav > li {
    display: inline;
    font-size: 0.875em;
    margin: 0 3px; }

.post-content, .comments {
  max-width: 800px;
  padding: 40px 20px 0;
  margin: 0 auto;
  margin-bottom: 50px; }

.hero {
  position: relative;
  height: 300px;
  -webkit-transition: all 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: all 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .hero:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  .hero .info {
    position: relative;
    color: #fff;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .hero .info h1 {
      font-weight: 100;
      font-size: 2.625em;
      margin: 0;
      -webkit-transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .hero .info h3 {
      font-weight: 500; }
    .hero .info .detail {
      font-family: georgia;
      font-size: 0.875em;
      font-style: italic;
      font-weight: 200; }
    .hero .info p {
      font-size: 0.9375em;
      opacity: .8;
      margin-top: 5px;
      max-width: 620px;
      width: 100%;
      margin: 0 auto; }
    .hero .info .search {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      margin-top: 15px; }

.search-form {
  position: relative; }
  .search-form input[type="search"] {
    width: 99.5%;
    padding: 8px 12px; }
  .search-form input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 3px 3px 0;
    padding: 8px 15px; }
  .search-form input[type="search"],
  .search-form input[type="submit"] {
    height: 35px; }

.article-list {
  margin-bottom: 50px; }
  .article-list::after {
    clear: both;
    content: "";
    display: table; }
  .article-list > li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-bottom: 20px;
    position: relative;
    top: 0;
    height: 350px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .article-list > li:last-child {
      margin-right: 0; }
    .article-list > li:nth-child(3) {
      margin-right: 0; }
    .article-list > li:hover {
      top: -5px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); }
      .article-list > li:hover .read-more {
        opacity: 1; }
    .article-list > li:active {
      top: -2px;
      -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
              transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .article-list .article-thumb {
    height: 125px;
    border-radius: 4px 4px 0 0;
    position: relative;
    margin-bottom: 10px; }
  .article-list .article-preview {
    padding: 15px;
    max-height: 170px;
    overflow: hidden; }
    .article-list .article-preview h1 {
      font-size: 1.3125em;
      font-weight: 300;
      margin-bottom: 0; }
    .article-list .article-preview em {
      font-size: 0.75em;
      color: #aaa;
      display: inline-block;
      margin-bottom: 10px; }
  .article-list .preview-content {
    font-size: 0.8125em; }

.post-author-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -25px;
  right: 10px;
  text-align: center; }
  .post-author-list > li {
    display: inline-block;
    margin: 0 2px;
    position: relative; }
    .post-author-list > li:hover .author-name {
      opacity: 1;
      bottom: 110%; }
  .post-author-list .avatar {
    width: 40px;
    border: 2px solid #fff; }
  .post-author-list .author-name {
    width: 100px;
    position: absolute;
    bottom: 90%;
    left: 50%;
    font-size: 0.8125em;
    margin-left: -50px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    pointer-events: none; }

.tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 50px; }
  .tags > li {
    display: inline-block;
    margin: 0 1px;
    padding: 4px 12px;
    border-radius: 50px;
    font-size: .8em; }
    .tags > li a:hover {
      text-decoration: none; }

.view-search .no-match {
  text-align: center; }

.view-tags .hero {
  height: 300px; }

.view-tags .article-list > li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .view-tags .article-list > li:last-child {
    margin-right: 0; }
  .view-tags .article-list > li:nth-child(4n) {
    margin-right: 0; }
  .view-tags .article-list > li:nth-child(4n+1) {
    clear: left; }

.view-tags .post-content {
  max-width: 1200px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .view-tags .post-content::after {
    clear: both;
    content: "";
    display: table; }

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .modal:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    pointer-events: none; }
  .modal.is-visible {
    opacity: 1;
    visibility: visible; }
    .modal.is-visible .modal-content {
      -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          -ms-transform: translateX(-50%) translateY(-50%) scale(1);
              transform: translateX(-50%) translateY(-50%) scale(1); }
  .modal > .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 0; }

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  z-index: 3;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.4);
      -ms-transform: translateX(-50%) translateY(-50%) scale(1.4);
          transform: translateX(-50%) translateY(-50%) scale(1.4);
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.section-head::after {
  clear: both;
  content: "";
  display: table; }

.section-head h2 {
  float: left; }

.section-head a {
  float: right; }

.viewall {
  font-size: 0.875em;
  line-height: 1.8; }

.avatar {
  z-index: 3;
  width: 80px;
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative; }

code {
  display: inline-block;
  background-image: -webkit-linear-gradient(top, #f6f6f7, #e9e9ef);
  background-image: linear-gradient(to bottom, #f6f6f7, #e9e9ef);
  padding: 3px 8px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75); }

.pagination {
  font-size: 0.875em;
  text-align: center; }
  .pagination > div {
    display: inline-block;
    margin: 0 10px; }

.mark-on, .mark-off {
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px; }

.mark-on {
  background-color: #fafafa;
  color: #489bc6; }

.mark-off {
  background-color: #489bc6;
  color: #fff; }

i[class*="icon"] {
  position: relative;
  top: 3px; }

.read-more {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  padding: 8px;
  width: 50%;
  color: #fff;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 50px;
  border: 2px solid #fff;
  text-align: center;
  font-size: 0.625em;
  text-transform: uppercase;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15); }
  .read-more:hover {
    background-color: #fff;
    color: #000; }

.footer {
  min-height: 200px;
  background: #323e4c; }

.hidden {
  opacity: 0; }

input[type=file] {
  outline: none;
  padding: 20px 10px;
  opacity: 0; }

.dropzone {
  font-size: 0.8125em;
  border: 3px dotted #eed;
  border-radius: 4px;
  text-align: center;
  position: relative; }
  .dropzone.selected .file {
    opacity: 1; }
  .dropzone.selected h2 {
    opacity: 0; }
  .dropzone h2 {
    width: 100%;
    font-size: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }

.textarea {
  min-height: 200px; }

.form .half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .form .half:last-child {
    margin-right: 0; }

.form .form-actions::after {
  clear: both;
  content: "";
  display: table; }

.form .form-actions .cancel {
  float: left;
  line-height: 2.5; }

.form .form-actions .btn-form {
  float: right; }

.view-home .post-content {
  max-width: 1200px; }

.view-session {
  background-color: #f0f3f5; }

.backdrop {
  background: url(http://i.imgur.com/WbDj9fM.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.view-article .parallax-mirror {
  background-color: #000; }
  .view-article .parallax-mirror img {
    opacity: .75; }

.view-article .hero {
  position: relative;
  height: 450px;
  box-shadow: inset 0 -25px 50px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #fff; }
  .view-article .hero .title {
    position: relative;
    color: #fff;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .view-article .hero .title h1 {
      font-weight: 100;
      font-size: 2.625em;
      margin: 0 0 10px 0; }
  .view-article .hero .post-actions {
    position: absolute;
    bottom: 20px;
    right: 20px; }

.view-article .post-wrap {
  background-color: #fcfcfc; }

.view-article .post-author-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -35px;
  width: 100%;
  text-align: center; }
  .view-article .post-author-list > li {
    margin: 0 5px; }
  .view-article .post-author-list .avatar {
    width: 60px; }

.view-article iframe {
  width: 100%;
  min-height: 600px; }

.view-article .tags > li {
  background: #fafafa; }

.view-article .timestamp {
  font-size: 0.75em;
  opacity: .8; }

.view-index .hero {
  height: 300px; }

.view-index .article-list > li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .view-index .article-list > li:last-child {
    margin-right: 0; }
  .view-index .article-list > li:nth-child(4n) {
    margin-right: 0; }
  .view-index .article-list > li:nth-child(4n+1) {
    clear: left; }

.view-index .post-content {
  max-width: 1200px; }

.view-inspiration .hero {
  height: 200px; }

.view-inspiration .post-content {
  max-width: 1200px; }

.view-inspiration .packery > article {
  max-width: 25%;
  padding: 5px;
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .view-inspiration .packery > article:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    z-index: 100; }
    .view-inspiration .packery > article:hover img {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); }
  .view-inspiration .packery > article img {
    -webkit-transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }

.view-inspiration .packery .article-overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.75));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));
  color: #fff;
  padding: 10px;
  font-size: 0.8125em;
  display: none; }

.view-profile .hero {
  text-align: center;
  box-shadow: inset 0 -25px 50px rgba(0, 0, 0, 0.3); }
  .view-profile .hero .info {
    position: relative;
    color: #fff;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .view-profile .hero .info h1 {
      font-weight: 100;
      font-size: 2.625em;
      margin: 0; }
    .view-profile .hero .info h3 {
      font-weight: 500; }
    .view-profile .hero .info .detail {
      font-family: georgia;
      font-size: 0.875em;
      font-style: italic;
      font-weight: 200; }
    .view-profile .hero .info em {
      font-size: 0.5625em;
      font-weight: bold;
      opacity: .8;
      text-transform: uppercase;
      margin-top: 5px;
      font-style: normal; }

.view-profile .btn-default {
  display: inline-block;
  margin-top: 10px; }

.view-profile .avatar-wrap {
  background: #fcfcfc;
  height: 75px;
  position: relative; }
  .view-profile .avatar-wrap .avatar {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: -40px;
    width: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 4px solid #fcfcfc; }

.view-profile .update-hero input[type=file] {
  position: absolute;
  width: 100px;
  top: 100px;
  right: 20px; }

.view-users .article-list > li {
  position: relative;
  margin-bottom: 25px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .view-users .article-list > li:last-child {
    margin-right: 0; }
  .view-users .article-list > li:nth-child(4n) {
    margin-right: 0; }
  .view-users .article-list > li:nth-child(4n+1) {
    clear: left; }
  .view-users .article-list > li:hover .article-thumb:after {
    background-color: rgba(0, 0, 0, 0.75); }
  .view-users .article-list > li:hover h1 {
    opacity: 0; }
  .view-users .article-list > li .joindate {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 0.5625em;
    font-weight: bold;
    opacity: .8;
    text-transform: uppercase;
    margin-top: 5px;
    font-style: normal;
    opacity: .5; }

.view-users .article-thumb {
  display: block;
  position: relative;
  height: 100px; }
  .view-users .article-thumb:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px 4px 0 0;
    z-index: 0;
    background-color: transparent;
    -webkit-transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .view-users .article-thumb .info {
    position: relative;
    color: #fff;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .view-users .article-thumb .info h1 {
      font-weight: 200;
      font-size: 1.5em;
      margin: 0; }
    .view-users .article-thumb .info p {
      font-size: 0.9375em;
      opacity: .8;
      margin-top: 5px;
      max-width: 620px;
      width: 100%;
      margin: 0 auto; }
    .view-users .article-thumb .info .detail {
      font-family: georgia;
      font-size: 0.875em;
      font-style: italic;
      font-weight: 200; }
    .view-users .article-thumb .info em {
      font-size: 0.5625em;
      font-weight: bold;
      opacity: .8;
      text-transform: uppercase;
      margin-top: 5px;
      font-style: normal; }
  .view-users .article-thumb .avatar {
    width: 50px;
    position: absolute;
    left: 50%;
    bottom: -25px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.view-users .article-preview {
  text-align: center; }
  .view-users .article-preview h3 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 0.875em; }
  .view-users .article-preview h4 {
    font-size: 0.8125em;
    margin: 0 0 10px;
    color: #aaa; }
  .view-users .article-preview hr {
    margin: 8px 0; }
  .view-users .article-preview .spacer {
    height: 33px; }
  .view-users .article-preview .stats {
    text-align: left; }
    .view-users .article-preview .stats > li {
      position: relative;
      padding-left: 15px; }
      .view-users .article-preview .stats > li:before {
        content: '•';
        color: #489bc6;
        position: absolute;
        left: 0;
        top: -3px; }
    .view-users .article-preview .stats a {
      color: #489bc6; }
    .view-users .article-preview .stats h2 {
      font-weight: 500;
      font-size: 0.875em; }

.view-users .post-content {
  max-width: 1200px; }
