{% extends "_layout" %}
{% set bodyclass='view-article' %}
{% set count = craft.entryCount.count(entry.id) %}
{% do craft.entryCount.increment(entry.id) %}
{% block content %}
	<article>
    <!-- https://github.com/putyourlightson/craft-entry-count -->
    {% set hero = entry.heroImage.first() %}
    <div class="hero" {% if hero %} data-parallax="scroll" data-image-src="{{ hero.getUrl() }}"{% else %} data-parallax="scroll" data-image-src="/images/defaults/hero-profile.jpg" {% endif %}>
      <div class="title">
        <h1>{{ entry.title }}</h1>
        <p class="timestamp">Posted {{ entry.postDate|time_diff }} &bull; Viewed {{ count }} {% if count == "1" %}time{% else %}times{% endif %}</p>
        <ul class="tags">
        {% for tag in entry.tags %}
          <li><a href="/tags/{{ tag.title | url_encode }}">{{ tag.title }}</a></li>
        {% endfor %}
        </ul>
      </div>

      <ul class="post-author-list">
        <li>
          {% if entry.author.photoUrl %}
            <a href="/users/{{ entry.author }}"><img src="{{ entry.author.photoUrl }}" alt="" class="avatar"></a>
          {% else %}
            <a href="/users/{{ entry.author }}"><img src="/images/defaults/avatar.png" alt="" class="avatar"></a>
          {% endif %}
          <div class="author-name">{{ entry.author }}</div>
        </li>
        {% for author in entry.coAuthors %}
        <li>
          {% if author.photoUrl %}
            <a href="/users/{{ author }}"><img src="{{ author.photoUrl }}" alt="" class="avatar"></a>
          {% else %}
            <a href="/users/{{ author }}"><img src="/images/defaults/avatar.png" alt="" class="avatar"></a>
          {% endif %}
          <div class="author-name">{{ author }}</div>
        </li>
        {% endfor %}
      </ul>

      <div class="post-actions">
      {% if currentUser %}
        {% if craft.like.isLike(entry.id) %}
          <a href="{{actionUrl('like/remove', {id:entry.id})}}" class="mark-on"><i class="icon-mark-on"></i> Unstash</a>
        {% else %}
          <a href="{{actionUrl('like/add', {id:entry.id})}}" class="mark-off"><i class="icon-mark-off"></i> Stash</a>
        {% endif %}
      {% else %}
          <!-- Please login in order to like entries -->
      {% endif %}
      </div>
    </div>

    <div class="post-wrap">
      <div class="post-content">
        {% if entry.iframe %}
          <iframe src="http://www.dramafever.com/"></iframe>
        {% else %}
          {{ entry.body|markdown }}
        {% endif %}
      </div>

      <div id="disqus_thread" class="comments"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'dramafeverdesignhub';
        var disqus_identifier = '{{ entry.section }}-{{ entry.id }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
	</article>
{% endblock %}
