<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />
  <link rel="stylesheet" href="{{ siteUrl }}/styles/main.min.css">
</head>

<body class="{{ bodyclass|default('default') }}">
  <div class="wrapper">
    <header class="header">
      <a href="{{ siteUrl }}" class="site-title">DramaFever Design</a>
      <nav>
        <ul>
          <li>Articles</li>
          <li>Inspiration</li>
          <li>Members</li>
          {% if not craft.session.isLoggedIn %}
            <li>Login</li>
            <li>Join</li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <!-- <header id="header">
      <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

      <nav>
        <ul>
          <li><a href="{{ url('articles') }}" {% if craft.request.firstSegment == 'articles' %}class="active"{% endif %}>Articles</a></li>
          <li><a href="{{ url('resources') }}" {% if craft.request.firstSegment == 'resources' %}class="active"{% endif %}>Resources</a></li>
        </ul>
      </nav>
    </header> -->